<h2>
    Este es el proyecto con el ID: {{{ id }}}
</h2>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, porro molestiae! Adipisci, magni nisi? Molestias
    ipsa eum beatae mollitia vitae.
</p>